* {-webkit-user-select: none;}

body {
    margin:0px;
    background:black;
    color:white;
    overflow:hidden;
}
#splash {
	border:1px solid black;
	max-width:500px;
	min-width:200px;
	width: 80%;
	margin:1em auto;
	position: relative;
	text-align:center;
	cursor:pointer;
	z-index:99999;
}

#splash img {
	width:100%;
	position: absolute;
	left:0px;
	-webkit-transition: opacity 5s;
	opacity: 0.0;
}

#splash h1 {
	margin-top: 100%;
	font-size:3em;
}


div.footer{
	width:100%;
	overflow:hidden;
	height:300px;
	left:0px;
	bottom:0px;
	position:absolute;

}

div.scroller.horizontal{
	position:absolute;
	width: 2000px;
	left:0px;
	bottom:0px; 
	height:300px;
}

div.book {
	position: absolute;
	bottom:0px;
}





div.listing{
	position:relative;
	background-color:#1E1E1E;
	margin:0em 0em;
	padding:0.5em 0.5em 0.5em;
	display:table;
	width:100%;
	height: 5em;
	font-size:1em;
	float:left;
}

div.layout{
    border-top: 1px dotted black;
    clear: both;
    display: flex;
    flex-direction: row-reverse;
    flex-flow: row wrap;
    align-items: flex-start;
}

div.details, .showcase, div.images{
	flex: 1 100%;

}
div.details{

	flex: 16.6 191px;
}
img.showcase{
    flex: 21 244px;
    width: 200px;
    max-width:600px;
    height:auto;
}

div.images{     flex: 23 600px;}

div.listing .showcase{
    background: gray;
    margin: 1em 0.5em 1em;
}

div.listing .meta{
	position:relative;
	margin:0em 0em .6em;
	padding: 0em 0em .4em 0em;
	color:silver;
	font-family:courier, mono-spaced, serif;
	font-size:0.8em;
	border-bottom: 1px dotted gray;
}
div.listing .meta span{
	margin: 0em 3em 0em 0em;

}
div.listing .date{
	display:inline-block;
	/*position:absolute;*/
	color:cyan;
}

div.listing .id{
	float:right;
}

div.listing .condition{
	float:right;
	padding: 0em .3em;
color:white; font-weight:bold;}

div.listing .condition.A{ background-color:green;}
div.listing .condition.B{ background-color:blue;}
div.listing .condition.C{ background-color:brown;}
div.listing .condition.D{ background-color:orange;}
div.listing .condition.F{ background-color:red;}




div.listing .details span{
	display:inline;

	/*clear:both;*/
}

div.listing span.title{
	display:block;
	text-align:center;
	float:left;
	clear:left;
	padding: 0em 0em .2em;
	width:100%;
	font-size:1.4em;
	font-family:georgia, serif;
	color:#DDC37A;
}

div.listing  span.author{
	font-size:0.8em;
	color:#70B2EF;
	width:100%;
		padding: 0em 0em .2em;
	display:block;
		text-align:center;
		font-size:1.4em;
	font-family:georgia, serif;
}

div.listing .details{
	display:inline-block;
	float:left;
	font-size:0.8em;
	font-family:courier;
	width:50%;
}



div.listing .details label{
	display:inline-block;
	clear:left;
	float:left;
	width: 100px;
	overflow:hidden;
	text-align:right;
	margin-right:.5em;
	color:tomato;
}

div.listing .details span.english{
	color:#89E1E8;
}
div.listing .details span.french{
	font-style:italic;
}


div.listing div.images img{
	box-sizing:border-box;
	height: 100px;
	transition: max-width 0.3s, max-height 0.3s;
	float:left;
}


div.listing div.images{
	display:block;
	margin-top:.6em;
	position:relative;
	clear:both;
}

div.listing div.images img{
	cursor:pointer;
	margin: .2em;
	padding: .2em;
}

div.listing div.images img.selected{
	padding: .2em;
	opacity:0.6;
	border:.2em solid yellow;
}

div.two-panel div.editing, div.two-panel div.listing{
	position:absolute;
	box-sizing: border-box;
	width:50%;
	top:0px;
	height:100%;
}
div.two-panel{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
}

div.two-panel div.editing{
	padding:.9em;
	left:50%;
}

div.editing {
	overflow: scroll;
}

div.editing label{
	float:left;
	width:100%;
	padding: 0em 0em 0em 0.5em;
		box-sizing: border-box;
	margin-bottom: 0.5em;
}

div.editing label.small{
	width:50%;
}

div.editing label.small input{
	width:70%;
}

label.small label span{
		position:absolute;
}

div.editing label span{

	vertical-align: top;
	width:30%;
}

div.editing label textarea, div.editing label input{
	float:right;
	width:70%;
}

div.editing label textarea{
	/*min-height:100px;*/
	display:block;
	width:100%;
}

div.editing button.new-field{
    float: right;
    margin-top: -2em;
    margin-right: 2em;
}